$block-width: 100px;
$block-header-height: 12px;
$block-content-height: 50px;
$port-size: 14px;

.tp__source-editor__block {
  position: absolute;
  display: flex;
  left: 0;
  top: 0;
  flex-flow: column;
  align-items: center;
  background-color: transparent;
  color: var(--text-color);
  border: none;
  min-width: $block-width;
  max-width: $block-width;
  width: $block-width;
  box-sizing: border-box;

  /* Safari Fixes */
  will-change: transform;
  -webkit-transform-style: preserve-3d;
  backface-visibility: hidden;

  &-editing {
    .tp__source-editor__block-content {
      border-color: red !important;
    }
  }

  &-selected {
    filter: sepia(1);
  }

  &-header {
    position: relative;
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    min-height: $block-header-height;
    max-height: $block-header-height;
    height: $block-header-height;

    &-actions {
      display: flex;
      flex-flow: row nowrap;
      height: 100%;
      flex: 1 1 auto;
      justify-content: flex-end;
    }
  }

  &-handle {
    width: 50%;
    height: 100%;
    cursor: grab;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
  }

  &-content {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    min-height: $block-content-height;
    max-height: $block-content-height;
    height: $block-content-height;
    border: 1px solid var(--border-color);
    background-color: var(--card-background-color);
    border-radius: 6px;
    border-top-left-radius: 0 !important;
    box-shadow: var(--source-editor-block-shadow);
    cursor: pointer;
    padding: 0 var(--padding-small);
    box-sizing: border-box;

    &-body {
      display: flex;
      flex-flow: column;
      align-items: center;
      height: 100%;
      width: 100%;
    }
  }

  &-batch {
    border-bottom-right-radius: 0;
  }

  &-label {
    display: block;
    width: 100%;
    height: 100%;
    text-overflow: ellipsis;
    text-align: center;
    pointer-events: none;
    align-content: center;
    overflow: hidden;
    white-space: nowrap
  }

  &-sub-label {
    font-size: var(--font-size-sm);
    color: var(--modest-text-color);
    text-align: right;
    pointer-events: none;
    align-self: flex-end;
  }


  &-delete {
    display: flex;
    justify-content: center;
    align-items: center;
    right: 0;
    height: 12px;
    width: 12px;
    border-radius: 50%;
    cursor: pointer;
    background-color: var(--source-editor-delete-color);
  }

  &-port {
    position: absolute;
    width: $port-size;
    height: $port-size;
    min-width: $port-size;
    min-height: $port-size;
    border-radius: 50%;
    border: 1px solid var(--brick-port-border-color);
    appearance: none;
    padding: 0;
    margin: 0;
    cursor: crosshair;
    z-index: 3;

    &:focus-visible {
      outline: 2px solid var(--input-focus-border-color);
      outline-offset: 2px;
    }

    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      width: 40px;
      height: 40px;
      transform: translate(-50%, -50%);
    }

    &:hover {
      background-color: var(--brick-port-hover-color);
    }

    &--left {
      left: -7px;
      background-color: var(--brick-port-background-color);
    }

    &--right {
      right: -7px;
      background-color: var(--brick-port-background-color);
    }

    &--valid {
      background-color: var(--brick-port-valid-background-color) !important;
    }

    &--invalid {
      background-color: var(--brick-port-invalid-background-color) !important;
    }
  }
}

.tp__source-editor__brick {
  color: var(--text-color);
  &-InputXtream   {
    border-color: var(--brick-input-xtream-border-color);
    background-color: var(--brick-input-xtream-background-color);
  }

  &-InputM3u   {
    border-color: var(--brick-input-m3u-border-color);
    background-color: var(--brick-input-m3u-background-color);
  }

  &-InputLibrary {
    border-color: var(--brick-input-library-border-color);
    background-color: var(--brick-input-library-background-color);
  }

  &-InputStaged {
    border-color: var(--brick-input-staged-border-color);
    background-color: var(--brick-input-staged-background-color);
  }

  &-InputStalker {
    border-color: var(--brick-input-stalker-border-color);
    background-color: var(--brick-input-stalker-background-color);
  }

  &-InputJellyfin {
    border-color: var(--brick-input-jellyfin-border-color);
    background-color: var(--brick-input-jellyfin-background-color);
  }

  &-InputEmby {
    border-color: var(--brick-input-emby-border-color);
    background-color: var(--brick-input-emby-background-color);
  }

  &-InputPlex {
    border-color: var(--brick-input-plex-border-color);
    background-color: var(--brick-input-plex-background-color);
  }
  &-Target {
    border-color: var(--brick-target-border-color);
    background-color: var(--brick-target-background-color);
  }

  &-OutputM3u {
    border-color: var(--brick-output-m3u-border-color);
    background-color: var(--brick-output-m3u-background-color);
  }

  &-OutputXtream {
    border-color: var(--brick-output-xtream-border-color);
    background-color: var(--brick-output-xtream-background-color);
  }

  &-OutputHdHomeRun {
    border-color: var(--brick-output-hdhomerun-border-color);
    background-color: var(--brick-output-hdhomerun-background-color);
  }

  &-OutputStrm {
    border-color: var(--brick-output-strm-border-color);
    background-color: var(--brick-output-strm-background-color);
  }
}

@mixin brick-handle-gradient($bg-color, $border-color) {
  background: repeating-linear-gradient(
                  -55deg,
                  $bg-color,
                  $bg-color 10px,
                  $border-color 10px,
                  $border-color 20px
  );
  border-left: 1px solid $border-color;
  border-top: 1px solid $border-color;
  border-right: 1px solid $border-color;
}

@mixin brick-handle-input-color($bg-color, $border-color) {
  .tp__source-editor__block-batch-banner-label {
    border: 1px solid $border-color;
    border-top-color: transparent;
    background-color: $bg-color;
  }

  .tp__source-editor__block-content {
    border-color: $border-color;
    background-color: $bg-color;
  }

  .tp__source-editor__block-handle {
    @include brick-handle-gradient(
                    $bg-color,
                    $border-color
    );
  }
}

@mixin brick-handle-output-color($bg-color, $border-color) {
  .tp__source-editor__block-content {
    border-color: $border-color;
    background-color: $bg-color;
  }

  .tp__source-editor__block-handle {
    @include brick-handle-gradient($bg-color, $border-color);
  }
}

.tp__source-editor__block {

    &-batch-banner {
      display: flex;
      flex-flow: row;
      justify-content: flex-end;
      width: 100%;
      &-label {
        color: var(--modest-text-color);
        font-size: var(--font-size-xs);
        font-weight: bold;
        width: 50%;
        height: 100%;
        cursor: grab;
        display: flex;
        align-items: center;
        justify-content: center;
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
      }
    }

  &-InputXtream {
    @include brick-handle-input-color(var(--brick-input-xtream-background-color), var(--brick-input-xtream-border-color));
  }

  &-InputM3u {
    @include brick-handle-input-color(var(--brick-input-m3u-background-color), var(--brick-input-m3u-border-color));
  }

  &-InputLibrary {
    @include brick-handle-input-color(var(--brick-input-library-background-color), var(--brick-input-library-border-color));
  }

  &-InputStaged {
    @include brick-handle-input-color(var(--brick-input-staged-background-color), var(--brick-input-staged-border-color));
  }

  &-InputStalker {
    @include brick-handle-input-color(var(--brick-input-stalker-background-color), var(--brick-input-stalker-border-color));
  }
  &-InputJellyfin {
    @include brick-handle-input-color(var(--brick-input-jellyfin-background-color), var(--brick-input-jellyfin-border-color));
  }

  &-InputEmby {
    @include brick-handle-input-color(var(--brick-input-emby-background-color), var(--brick-input-emby-border-color));
  }

  &-InputPlex {
    @include brick-handle-input-color(var(--brick-input-plex-background-color), var(--brick-input-plex-border-color));
  }
  &-Target {
    .tp__source-editor__block-content {
      border-color: var(--brick-target-border-color);
      background-color: var(--brick-target-background-color);
    }

    .tp__source-editor__block-handle {
      @include brick-handle-gradient(
                      var(--brick-target-background-color),
                      var(--brick-target-border-color)
      );
    }
  }

  &-OutputM3u {
    @include brick-handle-output-color(var(--brick-output-m3u-background-color), var(--brick-output-m3u-border-color));
  }

  &-OutputXtream {
    @include brick-handle-output-color( var(--brick-output-xtream-background-color), var(--brick-output-xtream-border-color));
  }

  &-OutputHdHomeRun {
    @include brick-handle-output-color(var(--brick-output-hdhomerun-background-color), var(--brick-output-hdhomerun-border-color));
  }

  &-OutputStrm {
    @include brick-handle-output-color(var(--brick-output-strm-background-color), var(--brick-output-strm-border-color));
  }
}

.grabbed {
  .tp__source-editor__block {
    &-handle {
      cursor: grabbing;
    }
  }
}
